button {
    background-color: #2f80ed;
    border-radius: 4px;
    border-style: none;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 6px 15px;
    font-family: system-ui,Arial,sans-serif;
  }