<div align="center" *ngIf="forgot">
  <h1 style="font-size: 50px; color: red;">Forgot Password</h1>
  <label for="email">Email: </label>
  <input type="email" placeholder="Enter Email" id="email" [(ngModel)]="email" style="margin: .25rem .25rem .5rem 0;"
    autofocus>
  <br><br>
  <label for="phone">Phone: </label>
  <input type="tel" placeholder="Enter Phone" [(ngModel)]="phone" id="phone" minlength="10" maxlength="10">
  <br><br>
  <button (click)="changePassword()">
    Submit
  </button>
  <br>
  <a href="#" style="font-size: 18px;" routerLink="/login">Back to Login</a>
</div>

<div align="center" *ngIf="!forgot">
  <h1 style="font-size: 50px;">Change Password</h1>
  <label for="new">New Password: </label>
  <input type="text" placeholder="New Password" id="new" [(ngModel)]="new" style="margin: .25rem .25rem .5rem 0;"
    autofocus>
  <br><br>
  <label for="confirm">Confirm Password: </label>
  <input type="text" placeholder="Confirm Password" [(ngModel)]="confirm" id="confirm">
  <br><br>
  <button (click)="setPassword()">
    Submit
  </button>
</div>