Button{  
  border: 1px solid #999999;
  background-color:rgb(3, 90, 148);
  color: white;
  padding: 8px;
  font-size: 12px;
}

.del{
  border: 1px solid #999999;
  background-color:red;
  color: white;
  padding: 8px;
  font-size: 12px;
}
.up{
  border: 1px solid #999999;
  background-color:rgb(37, 69, 247);
  color: white;
  padding: 8px;
  font-size: 12px;
}
.btn {
  border: 1px solid #0066cc;
  background-color: #0099cc;
  color: #ffffff;
  padding: 5px 10px;
}

.btn:hover {
  border: 1px solid #0099cc;
  background-color: #00aacc;
  color: #ffffff;
  padding: 5px 10px;
}

.btn:disabled,
.btn[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

table {  font-family: arial, sans-serif;  border-collapse: collapse;  width: 100%; }
td,th {  border: 1px solid #dddddd;  text-align: center; }
tr:nth-child(even) {  background-color: #dddddd; }