<div align="center">
  <!-- <a href="#" routerLink='/home' style="font-size: 30px;float:left;">Home</a> -->
  <h1>
    Products Component
  </h1>
  <h3>Implemented Resolver to get data first and then load page.</h3>

  <hr>
  <br><br>
  <!-- <p>{{products | json}}</p> -->
  <div *ngFor="let product of products">
    <img src="{{product.thumbnail}}" alt="product.jpeg" width="20%">
    <!-- <img [src]="product.image" alt="Image.jpeg" width="20%"> -->
    <div>
      <h3>{{product.title}}</h3>
      <h4>Price: ${{product.price}}</h4>
      <h4>Description: {{product.description}}</h4>
    </div>
    <hr>
  </div>
</div>